<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Catalogo Tec</title>
        <link rel="stylesheet" href="/styles.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        <div class="sidebar">
            <img src="/imgs/tec.webp" width="200">
            <ul>
                <li>
                    Comida
                </li>
                <li>
                    Deportes
                </li>
                <li>
                    Cuidado Personal
                </li>
                <li>
                    Residencias
                </li>
            </ul>
        </div>
        <h1>Catalogo Tec</h1>
        <h3>Comida</h3>
        <section class="comida">
            <div class="card" style="width: 18rem;">
                <img src="/imgs/subway.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p style="color: black;">Subway</p>
                  <p class="card-text"> 
                    Esta clásica de comida rápida está detrás del edificio 4, 
                    enfrente del área de mesas y el Oxxo.
                    </p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <p style="color: black;">Starbucks</p>
                  <p class="card-text"> 
                    En la esquina entre edificio 4 y punto azul se encuentra el Starbucks que es la 
                    fuente de energía para todos los estudiantes trabajadores del Tec.
                    </p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/imgs/tim_h.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p style="color: black;">Tim Hortons</p>
                  <p class="card-text"> 
                    Esta cadena Canadiense abrió hace poco para darnos alimentación rica de desayuno y 
                    almuerzo, se puede encontrar en el edificio de alimentos/biotecnología.
                    </p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <p style="color: black;">Nutrisa</p>
                  <p class="card-text"> 
                    El lugar perfecto para los días muy calurosos que son prácticamente 
                    todos los días ya que es Mayo. Se encuentra en Plaza Roja.
                    </p>
                </div>
            </div>
        </section>
        <h3>Deportes</h3>
        <section class="deportes">
            <div class="card" style="width: 18rem;">
                <img src="/imgs/gym.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p style="color: black;">Gym Universidad</p>
                  <p class="card-text">El gym, recientemente renovado, se encuentra en el sótano del edificio 
                    del gym, abre desde las 6 de la mañana hasta las 8 de la noche.</p>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="/imgs/estadio.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p style="color: black;">Estadio Borregos</p>
                  <p class="card-text">El estadio donde juega el corazón del Tec, el equipo de Americano, 
                    se ubica por el CIMA y cuenta con bancas hasta para 2mil espectadores.</p>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p style="color: black;">Alberca</p>
                  <p class="card-text">Nuestra alberca media olímpica es donde entrena nuestro equipo de natación, 
                    cuenta con baños y techo, se encuentra entre las residencias y la entrada peatonal.</p>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p style="color: black;">Padel</p>
                  <p class="card-text">El Tec ha agregado nuevas canchas de pádel por residencias gracias a la nueva y 
                    fuerte demanda, se encuentra entre la alberca y residencias.</p>
                </div>
              </div>
        </section>
        <h3>Cuidado Personal</h3>
        <section class="cuidado">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p style="color: black;">TecMED</p>
                  <p class="card-text">TecMED es el HQ de nuestro staff médico para cualquier cosa, se encuentra 
                    en la planta baja del edificio del gym.
                </p>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p style="color: black;">Barberia</p>
                  <p class="card-text">Esta nueva adición al Tec está ubicada ahora en el camino entre Plaza Roja y la 
                    Preparatoria, y sus precios siguen siendo desconocidos.
                </p>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p style="color: black;">Consejeria</p>
                  <p class="card-text">El cuidado de la salud mental es el propósito de nuestros mentores y consejeros 
                    que se encuentran en el edificio 5.
                </p>
                </div>
              </div>
        </section>
        <h3>Residencias</h3>
        <section class="residencias">
            <div class="card" style="width: 18rem;">
                <img src="/imgs/resis.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p style="color: black;">Residentes</p>
                  <p class="card-text">Las residencias anteriores y las nuevas se ubican entrando al Tec por la entrada en la 
                    calle Epigmenio Gonzalez, las nuevas cuentan con 5 pisos y la ventaja de estar alojado aquí en el campus para 
                    tiempos de llegada a clase muy cortos y seguridad.</p>
                </div>
              </div>
        </section>
    </body>
    <!-- <script src="script.js"></script> -->
    </html>