body {
    background-color: #fff;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    background: linear-gradient(to left, green, blue, red, yellow);
    height: 7vh;
    border: solid gray 1px;
}

ul li {
    display: inline;
    font-size: larger;
    margin: 0 10px;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    margin: 2rem auto;
    text-align: center;

}

.validate {
    width: 40%;
    height: 40%;
    border: solid black 2px;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}
/* CSS */
.button-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  margin: 0 auto;
  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-10:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.title {
    width: 80%;
    /* border: solid black 3px;
    border-radius: 20px; */
    text-align: center;
    margin: 0 auto 4rem auto;
}

.shop {
    display: flex;
    width: 75%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.item {
    flex-basis: 25%;
    transition: transform 0.3s ease-in-out;
    box-shadow:  gray 2px 2px 4px;
}

.item:hover {
    transform: scale(1.1);
}

.name {
    color: #000000;
    font-size: larger;
    text-align: center;
}

.price {
    font-size: larger;
    color: #000000;
    text-align: start;
    margin-left: 10px;
}

.desc {
    color: darkslategray;
    text-align: start;
    margin-left: 5px;
    padding: 0 5px;
}

img {
    width: 90%;
    margin: 0 auto 0 auto;
    height: 200px;
    margin-left: 10px;
    padding-top: 5px;
}

.cart {
    margin: 2rem auto;
    height: 20vh;
    width: 80%;
    background-color: #000000;
    color: #fff;
    padding: 2rem;
    position: relative;
}

.hidden {
    display: none;
}

.pay {
    background-color: #367AF6;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    padding: 0.5rem 1rem;
    border: solid white 2px;
}

.popup {
    color: red;
    font-size: x-small;
    position: relative;
    bottom: 1rem;
}

form {
    position: absolute;
    right: 5vh;
    top: 5vh;
    border: solid gray 1px;
    padding: 1rem;
}