.sidebar {
    position: fixed;
    width: 200px;
    left: 0;
    color: blue;
    /* background-color: blue; */
    height: 100vh;
    text-decoration: none;
    line-height: 2rem;
    border-right: solid gray 2px;
}

.sidebar ul {
    padding: 40px 0 0 40px;

}

h1 {
    width: 80%;
    margin: 2rem 0 3rem 210px;
    text-align: center;
}

h3 {
    width: 80%;
    margin-left: 210px;
}

section {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 4rem 210px;
    gap: 2rem;
}